
.footer-experiences{
    background: #F66B0E;
    border-radius: 15px;
    border:hsl(24, 93%, 51%);
    width: 100px;
    height: 100px;
    display: grid;
    justify-content: right;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    list-style-type: circle;
}
.list-footer-exp{
    font-size: x-large;
    color:#F66B0E;
    width: 900px;
    height: 50px;
    display: grid;
    justify-content: center;
    text-align: right;