/* mapas */
$redes:(
    twitter: #55aCee,
    facebook: #3a5795,
    instagram: #C25E30,
);
@each $red, $color in $redes {
    .btn--#{$red}{
        background-color: $color;
    }
}

/* extend */

.redsocial{
    border:2px solid red;
    background-color: gold;
}
    
.redsocial--social{
    @extend .redsocial;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border-radius: 5px;
}

.redsocial--nueva{
    @extend .redsocial;
    font-size: 30px;
    color: green;
    border: 3px dashed blue;
}

/*mixin*/
@mixin sizes ($width, $height){
    height: $height;
    width: $width;
}

.my_mixin{
    @include sizes(500px, 50px);
    background-color: lightcoral;
}
