.nametommy{
    font-size: xx-large;
    font-weight: bold;
    color: antiquewhite;

}
.namecharles{
    font-size: xx-large;
    font-weight: bold;
    color: antiquewhite;
}

.sentencetommy{
    display: grid;

}

.ourstory-main{
    
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    column-gap: 100px;

}