body {
  background: #233142;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
}

.contenedor {
  width: 100%;
  max-width: 1800px;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "header header header " "contenido contenido contenido" "widget-1 widget-1 widget-2 " "sidebar sidebar sidebar" "footer-general footer-general footer-general";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer-general {
  background: #f7f2f2;
  padding: 20px;
  border-radius: 30px;
}

.contenedor .header {
  background-color: #e3e3e3;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-decoration: none;
}

.contenedor .contenido {
  background: #455d7a;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contenido;
  font-size: 25px;
  border-image-width: 10px;
  color: white;
}

.text-index-quote {
  font-size: x-large;
}

.titles-index {
  font-weight: bolder;
}

.educationphoto1 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1800px;
      grid-template-columns: 1800px;
}

/*nose como poner la imagen centrada */
.educationphoto1 {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-reasons {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70%;
}

.contenedor .sidebar {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  background: #FF6A3D;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100px;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: sidebar;
  /*no se como acomodar las imagenes y poner texto debajos de ellas*/
}

.contenedor .widget-1,
.contenedor .widget-2 {
  background: #f95959;
  height: 100px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor .widget-1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: widget-1;
  list-style: none;
  text-decoration: none;
}

.widget-list {
  color: #EFEFEF;
  text-decoration: none;
  list-style: none;
  font-weight: bolder;
  font-size: xx-large;
}

.widget-text {
  text-decoration: none;
  color: black;
}

.widget-1:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.widget-1 {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.widget-2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.widget-2 {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.contenedor .widget-2 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: widget-2;
}

.contenedor .footer-general {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer-general;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-align: right;
  list-style: none;
}

.support-text {
  text-decoration: none;
  color: black;
  font-size: x-large;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .contenedor {
        grid-template-areas: "header header header" "contenido contenido contenido" "widget-1  widget-1 widget-2 " "sidebar sidebar sidebar" "footer-general footer-general footer-general";
  }
}

.section-icons {
  width: 90%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border-radius: 30px;
  border-color: antiquewhite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 80px;
          column-gap: 80px;
  color: black;
}

.product-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  font-size: 30px;
}

.contenedor-product {
  width: 100%;
  max-width: 1800px;
  margin: 20px auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "header header header " "gridsection gridsection gridsection" "gridsection gridsection gridsection" "footer footer footer";
}

.header-product {
  background: #F66B0E;
  color: #faebd7;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-decoration: none;
  font-size: larger;
  font-family: 'Josefin Sans', sans-serif;
}

header nav ul li a {
  color: #EFEFEF;
  text-decoration: none;
  font-weight: bolder;
  font-size: larger;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 20px;
  margin: 2 rem;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}

.main-section {
  background: black;
  width: 1700px;
  height: 950px;
  border-radius: 20px;
  padding-right: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenido-product {
  color: black;
  font-weight: bolder;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1700px;
      grid-template-columns: 1700px;
}

#footer-product {
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.image-product:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.image-product {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.nametommy {
  font-size: xx-large;
  font-weight: bold;
  color: antiquewhite;
}

.namecharles {
  font-size: xx-large;
  font-weight: bold;
  color: antiquewhite;
}

.sentencetommy {
  display: -ms-grid;
  display: grid;
}

.ourstory-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 100px;
          column-gap: 100px;
}

.nametommy {
  font-size: xx-large;
  font-weight: bold;
  color: antiquewhite;
}

.namecharles {
  font-size: xx-large;
  font-weight: bold;
  color: antiquewhite;
}

.sentencetommy {
  display: -ms-grid;
  display: grid;
}

.ourstory-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 100px;
          column-gap: 100px;
}

/* mapas */
.btn--twitter {
  background-color: #55aCee;
}

.btn--facebook {
  background-color: #3a5795;
}

.btn--instagram {
  background-color: #C25E30;
}

/* extend */
.redsocial, .redsocial--social, .redsocial--nueva {
  border: 2px solid red;
  background-color: gold;
}

.redsocial--social {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  border-radius: 5px;
}

.redsocial--nueva {
  font-size: 30px;
  color: green;
  border: 3px dashed blue;
}

/*mixin*/
.my_mixin {
  height: 50px;
  width: 500px;
  background-color: lightcoral;
}
/*# sourceMappingURL=style.css.map */